{% if cart.item_count > 0 %}
    <div class="p-4">
        <div class="flex item-end justify-between my-5">
            <h1 class="text-3xl">Ihr Warenkorb</h1>
            <a href="{{ routes.all_products_collection_url }}" class="text-blue hover:text-blue-800 front-medium underline">Weiter shoppen</a>
        </div> 
    </div>

    <div class="max-w-6xl flex flex-col my-10 mx-auto">
        <form action="{{ routes.cart_url }}" method="POST" ></form>
            <table class="table-auto divide-y divide-gray-200 my-4 w-full">
                <thead>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500"></th>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500"></th>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500"></th>
                </thead>
                <body>
                    {% for item in cart.items %}
                        <tr class="table-row">
                            <td class="py-4 px-2 flex flex-col justify-center">
                                <a href="{{ item.url }}">
                                    {% if item.image %}
                                        <img src="{{ item.image | img_url: 'small' }}" alt="{{ item.title | escape}}" class="w-20 h-20 object-cover border">
                                    {% else %}
                                        {{ 'product-1' | placeholder_svg_tag: 'w-20 -h-20 object-cover border' }}
                                    {% endif %}
                                </a>
                            </td>
                            <td class="py-4 flex flex-col justify-center">
                                <a href="{{ item.url }}" class="my-1">{{ item.product.title | truncatewords: 5 }}</a>
                                <span class="text-sm text-gray-500 my-1">{{ item.variant.title }}</span>
                                <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0" class="text-sm font-medium text-red-500 my-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" viewBox="0 0 16 16" fill="currentColor">
                                        <path fill-rule="evenodd" d="M6 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm4 0a1 1 0 012 0v6a1 1 0 11-2 0V8zm4-2a1 1 0 00-1-1h-1V4a2 2 0 10-4 0v1H7a1 1 0 00-1 1v1h10V6zm-7-1h2V4a1 1 0 10-2 0v1z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </td>
                            <td class="py-4 px-2">
                                <input type="number" name="update[]" value="{{ item.quantity }}" min="1" id="updates_{{ forloop.index }}" class="w-20 border p-2">
                            </td>
                            <td class="py-4 px-2">
                                {{ item.line_price | money }}
                            </td>
                        </tr>
                    {% endfor %}
                </body>
            </table>

            <div class="">
                <div class="w-full my-4"></div>
                    <div class="flex flex-col items-start">
                        <label for="cart_notes" class="my-1">Cartnotes</label>
                        <textarea name="note" id="cart_notes" class="w-full md:max-w-lg resize-none border h-20"></textarea>
                    </div>
                </div>

                <div class="w-full my-4 md:w-80">
                    {% for block in selection.blocks %}
                        {% case block.type %}
                        {% when 'subtotal' %}
                            <h3 class="text-xl">Subtotal: {{ cart.total_price | money }}</h3>
                        {% when 'checkout-button' %}
                            <div>
                                <button type="submit" name="checkout" class="w-full p-3 borer-gray-600 font-medium bg-gray-600 text-white">Checkout</button>
                            </div>
                        {% else %}
                            
                        {% endcase %}
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>
{% else %}
    <div class="max-w-6xl h-60 my-4 flex mx-auto items-center justify-center">
        <div class="items-center flex flex-col justify-center">
            <h1 class="text-3xl my-4">Ihr Warenkorb ist leer</h1>
            <a class="bg-blue text-white py-3 px-2 rounded" href="{{ routes.all_products_collection_url }}">Weiter shoppen</a>
        </div>
    </div>
{% endif %}


